

<div class="row">

	<div class="col-md-5 "> 
		

		<h1>Edit Account</h1>

		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.label :fname,'First Name' %>
			<%= f.text_field :fname, class: 'form-control' %>

			<%= f.label :lname,'Last Name' %>
			<%= f.text_field :lname, class: 'form-control' %>

			<%= f.label :age,'Age' %>
			<%= f.text_field :age, class: 'form-control' %>

			<%= f.label :email,'Email Address' %>
			<%= f.text_field :email, class: 'form-control' %>

			<%= f.label :gender,'Gender Status' %>
			<%= f.text_field :gender, class: 'form-control' %>
			<!-- This will soon be a drop down menu -->

			<%= f.label :street,'Street Address' %>
			<%= f.text_field :street, class: 'form-control' %>

			<%= f.label :city,'City' %>
			<%= f.text_field :city, class: 'form-control' %>

			<%= f.label :state,'State' %>
			<%= f.text_field :state, class: 'form-control' %>
			<!-- This will soon be a drop down menu -->
			
			<%= f.label :zip,'Zip' %>
			<%= f.text_field :zip, class: 'form-control' %>

			<%= f.label :country,'Country' %>
			<%= f.text_field :country, class: 'form-control' %>
			
			<%= f.label :phone,'Phone Number' %>
			<%= f.text_field :phone, class: 'form-control' %>

			<% if @user.bio.nil?  %>
				<%= f.label :biography, 'Add a Biography' %>
	      		<%= f.text_area :bio, class: 'form-control' %>

	      		<% else %>
				
				<%= f.label :biography, 'Edit Biography' %>
	      		<%= f.text_area :bio, class: 'form-control' %>

			<% end %>

			

			<%= f.label :password,'Password' %>
			<%= f.password_field :password, class: 'form-control' %>

			<%= f.label :password_confirmation,'Password Confirmation' %>
			<%= f.password_field :password_confirmation, class: 'form-control' %>


			<%= f.submit "Save changes", class: "btn btn-primary" %>
		<% end %>
	</div>

	<div class="col-md-2 column"></div>


	<div class="col-md-5  "> 
		<div class="row clearfix text-center">
			<h1>Edit Profile Settings</h1>

			<h2>Show current set of interests, sports, activities etc</h2>
			<div class="row-md-3 column">
				<h2>Current Interests</h2>
				<p>Show the users current interests here</p>
			</div>

			<div class="row-md-3 column">
				<h2>Current Activities</h2>
				<p>Show the users current activities here</p>
			</div>

			<div class="row-md-3">
				<h2>Current Sports</h2>
				<p>Show the users current sports here</p>
			</div>

			<div class="row-md-3 column"></br></br></br>
				<%= link_to "Edit your profile content", manageProfileContent_path, class: "btn btn-lg btn-primary" %>

			</div>



		</div>
	</div>

</div>
