<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= form_for (@user) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :FirstName, 'First Name' %>
      <%= f.text_field :fname, class: 'form-control' %>

      <%= f.label :LastName, 'Last Name' %>
      <%= f.text_field :lname, class: 'form-control' %>
      
      <%= f.label :Age, 'Age' %>
      <%= f.text_field :age, :start_year=>1900 %>


      <%= f.label :email, 'Email' %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :password, 'Password'%>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, 'Confirmation' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>