<% provide(:title, @user.fname + " " + @user.lname)%>
<% if logged_in? %>
	
	<div class="row clearfix">
		<div class="col-md-3 column">
			<!-- This will contain the users profile information and content-->
			<div class="row ">
				<div class="col-md-4">
					<!-- User icon -->
					<%= gravatar_for @user %> 
				</div>
				
				<div class="col-md-8">
					<!--User name, last name, age, & gender for now -->
					<div class="row"><b><%= @user.fname %> <%= @user.lname %></b></div>
					<div class="row">Age: <b><%= @user.age%></b> Gender: <b> <%= @user.gender %></b></div>

					<div class="row"><b>Address:</b>

					</div>
				</div>
			</div>


			<div class="row">
				<h2>Follow/Followers statistics</h2>				
			</div>

			<h2>Profile Information</h2>

			<div class="row lert alert-info text-center ">
			<!-- User profile content -->
				<h2>Activities</h2>
				<% @userActivities.each do |ua| %>
					<u><%= ua.activity.name %></u> ,
				<% end %>

				<h2>Interests</h2>
				<% @userInterests.each do |ui| %>
					<u><%= ui.interest.name %></u>  ,
				<% end %>

				<h2>Sports</h2>
				<% @userSports.each do |us| %>
					<u><%= us.sport.name %></u>  ,
				<% end %>

				<h2>Movies</h2>
				<% @userMovies.each do |um| %>
					<u><%= um.movie.name %></u>  ,
				<% end %>

				<h2>Books</h2>
				<% @userBooks.each do |ub| %>
					<u><%= ub.book.name %></u>  ,
				<% end %>

				<h2>TV Shows</h2>
				<% @userTvshows.each do |utv| %>
					<u><%= utv.tvshow.name %></u>  ,
				<% end %>
			</div>
			

		</div>
		<div class="col-md-1 column "></div>

		<div class="col-md-8 column jumbotron">
			<!-- This will contain the users posts, link to microposts, and ability to friend or follow-->
			<div class="row">
				<div class="col-md-6">
					<%= link_to "Follow", manageProfileContent_path, class: "btn btn-primary btn-lg btn-block" %>
				</div>
				<div class="col-md-6">
					<%= link_to "Recipes", manageProfileContent_path, class: "btn btn-primary btn-lg btn-block" %>


				</div>

				<%if current_user?(@user)%>
					This is my current profile					
				<%else%>
					This is not my profile
				<%end%>

				 <% if @user.microposts.any? %>
			      <h3>Microposts (<%= @user.microposts.count %>)</h3>
				      <ol class="microposts">
				        <%= render @microposts %>
			      </ol>
			      <%= will_paginate @microposts %>
			    <% end %>

			</div>

		</div>

	</div>
		


















	<div class="row">
	  <aside class="col-md-4">
	    <section class="user_info">
			<h1>
				
				
			</h1>
	    </section>
	  </aside>
	</div>

<% else %>

	<h1>Must be logged in to see a viewers web page</h1>	


<% end %>