<% provide(:title, @user.fname + " " + @user.lname)%>
<% if logged_in? %>
	
	<div class="row clearfix">
		<div class="col-md-4 column alert alert-info">
			<!-- This will contain the users profile information and content-->
			<div class="row ">
				<% if @user.picture?  %>
					
					<div class="row text-center">
						<%= image_tag @user.picture.url if @user.picture? %>
					</div>	

					<div class="row">
						

						<div class="text-center">
							<!--User name, last name, age, & gender for now -->
							<div class="row">
								<b><%= @user.fname %> <%= @user.lname %></b>
								    | Age:  <b>  <%= @user.age%></b>
								    | Gender: <b> <%= @user.gender %></b>
							</div>
							<div class="row">
								<address>
									<strong>Address</strong><br />
									<%= @user.street%><br />
									<%= @user.city%>, <%= @user.state%> <%= @user.zip%><br />
									<abbr title="Phone">P:</abbr> <%= @user.phone%>
								</address>

							</div>

						</div>

					</div>	
				<%else%>

					<div class="row">


							<!--User name, last name, age, & gender for now -->
							<div class="row clearfix">
								<div class="row div-center">
									
									<%= gravatar_for @user %>

								</div> 
								<!--User name, last name, age, & gender for now -->
								<div class="row text-center"><b><%= @user.fname %> <%= @user.lname %></b></div>
								<div class="row text-center">Age: <b><%= @user.age%></b> Gender: <b> <%= @user.gender %></b></div>


							</div>

							<div class="row text-center">
								<address>
									<strong>Address</strong><br />
									<%= @user.street%><br />
									<%= @user.city%>, <%= @user.state%> <%= @user.zip%><br />
									<abbr title="Phone">P:</abbr> <%= @user.phone%>
								</address>

							</div>
					</div>	


				<%end%>




				

			</div>
			
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="row">				
						<section class="stats">
						<%= render 'shared/stats' %>
						</section>
					</div>
				</div>
				<div class="col-md-3"></div>
				
				
			</div>

			
			<div class="row">
				<div class="col-md-12 " >
					<h2>Mini Biography</h2>	
					<%= @user.bio%>		


				</div>
					
			</div>

			
			<h2>Profile Information</h2>

			<div class="row text-center ">
			<!-- User profile content -->
				<h2>Activities</h2>
				<% @userActivities.each do |ua| %>
					<u><%= ua.activity.name %></u>
				<% end %>

				<h2>Interests</h2>
				<% @userInterests.each do |ui| %>
					<u><%= ui.interest.name %></u>  
				<% end %>

				<h2>Sports</h2>
				<% @userSports.each do |us| %>
					<u><%= us.sport.name %></u> 
				<% end %>

				<h2>Movies</h2>
				<% @userMovies.each do |um| %>
					<u><%= um.movie.name %></u> 
				<% end %>

				<h2>Books</h2>
				<% @userBooks.each do |ub| %>
					<u><%= ub.book.name %></u> 
				<% end %>

				<h2>TV Shows</h2>
				<% @userTvshows.each do |utv| %>
					<u><%= utv.tvshow.name %></u> 
				<% end %>
			</div>
			

		</div>
		<div class="col-md-1 column"></div>
		<div class="col-md-7 column ">
			<!-- This will contain the users posts, link to microposts, and ability to friend or follow-->
			<div class="row">
				<div class="col-md-6">
				    <%= render 'follow_form' if logged_in? %>

				</div>
				<div class="col-md-6">
					<%= link_to "Recipes", userRecipes_path(:id => @user.id), class: "btn btn-primary btn-lg btn-block" %>


				</div>

				<%if current_user?(@user)%>
					<div class="row">
						<aside class="col-md-12">
							<h3> Add a new Micropost</h3>
							<section class="micropost_form">
								<%= render 'shared/micropost_form' %>
							</section>
						</aside>
					</div>			
				<%else%>
					This is not my profile
				<%end%>




				 <% if @user.microposts.any? %>
			      <h3>Microposts (<%= @user.microposts.count %>)</h3>
				      <ol class="microposts">
				        <%= render @userMicroposts %>
			      </ol>
			      <%= will_paginate @userMicroposts %>
			    <% end %>

			</div>

		</div>

	</div>
		



	<div class="row">
	  <aside class="col-md-4">
	    <section class="user_info">
			<h1>
				
				
			</h1>
	    </section>
	  </aside>
	</div>

<% else %>

	<h1>Must be logged in to see a viewers web page</h1>	


<% end %>