<% if logged_in? %>
	<div class="row clearfix text-center">
		<h1>Hello <%= @user.fname %> <%= @user.lname %></h1>
		<h2>Here are your current sports, activities, and interests you have</h2>

		<div class="row">
			<div class="col-md-2 column"> <!-- Interest-->
				<h2>Interests</h2>

				<%=link_to 'Add Interest', addInterest_path, class:"btn btn-primary btn-block" %>

				<table class= "table table-hover table-condensed  alert alert-info">
					<tr>
						<th class="text-center">Your Interests</th>
						<th class="text-center alert alert-danger"><b>DEL</b></th>
					</tr>
					
					<% @userInterestsBoard.each do |i| %>
						<tr>
							<td class="active">
								<%= i.interest.name %>
							</td>
							<td >
								<%=
									link_to 'X', i, method: :delete, class:"btn btn-danger"
								%>
							</td>
						</tr>
					<% end %>
				</table>
			</div>

			<div class="col-md-2 column">
				<h2>Activities</h2>

				<%=link_to 'Add Activity', addActivity_path, class:"btn btn-primary btn-block" %>

				<table class= "table table-hover table-condensed  alert alert-info">
					<tr>
						<th class="text-center">Your Activities</th>
						<th class="text-center alert alert-danger"><b>DEL</b></th>

					</tr>
					
					<% @userActivitiesBoard.each do |a| %>
						<tr>
							<td class="active">
								<%= a.activity.name %>
							</td>
							<td >
								<%=
									link_to 'X', a, method: :delete, class:"btn btn-danger"
								%>
							</td>
						</tr>
					<% end %>

					
				</table>
			</div>

			<div class="col-md-2 column">
				<h2>Sports</h2>			
				<%=link_to 'Add Sport', addSport_path, class:"btn btn-primary btn-block" %>

				<table class= "table table-hover table-condensed  alert alert-info">
					<tr>
						<th class="text-center">Your Sport</th>
						<th class="text-center alert alert-danger"><b>DEL</b></th>

					</tr>

					<% @userSportsBoard.each do |s| %>
						<tr>
							<td class="active">
								<%= s.sport.name %>
							</td>
							<td >
								<%=
									link_to 'X', s, method: :delete, class:"btn btn-danger"
								%>
							</td>
						</tr>
					<% end %>

				</table>
			</div>

			<div class="col-md-2 column">
				<h2>Movies</h2>			
				<%=link_to 'Add Movie', addMovie_path, class:"btn btn-primary btn-block" %>

				<table class= "table table-hover table-condensed  alert alert-info">
					<tr>
						<th class="text-center">Your Movies</th>
						<th class="text-center alert alert-danger"><b>DEL</b></th>

					</tr>

					<% @userMoviesBoard.each do |m| %>
						<tr>
							<td class="active">
								<%= m.movie.name %>
							</td>
							<td >
								<%=
									link_to 'X', m, method: :delete, class:"btn btn-danger"
								%>
							</td>
						</tr>
					<% end %>

				</table>
			</div>

			<div class="col-md-2 column">
				<h2>Books</h2>			
				<%=link_to 'Add New Book', addBook_path, class:"btn btn-primary btn-block" %>

				<table class= "table table-hover table-condensed  alert alert-info">
					<tr>
						<th class="text-center">Your Books</th>
						<th class="text-center alert alert-danger"><b>DEL</b></th>

					</tr>

					<% @userBooksBoard.each do |b| %>
						<tr>
							<td class="active">
								<%= b.book.name %>
							</td>
							<td >
								<%=
									link_to 'X', b, method: :delete, class:"btn btn-danger" 
								%>
							</td>
						</tr>
					<% end %>

				</table>
			</div>

			<div class="col-md-2 column">
				<h2>Television Shows</h2>			
				<%=link_to 'Add New TV Show', addTvshow_path, class:"btn btn-primary btn-block" %>

				<table class= "table table-hover table-condensed  alert alert-info">
					<tr>
						<th class="text-center">Your TV shows</th>
						<th class="text-center alert alert-danger"><b>DEL</b></th>

					</tr>

					<% @userTvshowsBoard.each do |tv| %>
						<tr>
							<td class="active">
								<%= tv.tvshow.name %>
							</td>
							<td >
								<%=
									link_to 'X', tv, method: :delete, class:"btn btn-danger"
								%>
							</td>
						</tr>
					<% end %>

				</table>
			</div>

		</div>

		<div class="row">

			<div class="col-md-12 column">
				<h2>My Recipes</h2>

				<%=link_to 'Add a Recipe', new_recipe_path, class:"btn btn-primary btn-block" %>


				<table class= "table table-hover table-condensed  alert alert-info">
					<tr>
						<th class="text-center">My Recipes </th>
						<th class="text-center alert alert-danger"><b>DEL</b></th>

					</tr>

					<% @userRecipes.each do |r| %>
						<tr >
							<td class="active">
								<p><%= r.title %></p>
							</td>
							<td >
								<%=
									link_to 'X', r, method: :delete, class:"btn btn-danger"
								%>
							</td>
						</tr>
					<% end %>

				</table>
			</div>
		</div>


	</div>

	<%else%>

	<h1>Must be logged in to perform these account changes</h1>	

<% end %>