<header class="navbar navbar-inverse navbar-fixed-top">

	<div class="container">
	<%= link_to image_tag("blue-logo-h.png", alt: "IDF Logo"),'http://www.idf.org/', id: "logoh" %>
	<%= link_to "Sweet Spot", home_path, id: "logo" %>
			<ul class="nav nav-pills navbar-inverse pull-right">
			
				<% if logged_in? %>

					<li class="active">

					
							<li><%= link_to "Home",   home_path %></li>
							<li><%= link_to "Users",   users_path %></li>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Recipes <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to "My Recipes",   recipe_path %></li>
							<li><%= link_to "Friend Recipes",   recipe_path %></li>
							<li><%= link_to "All Recipes",   recipe_path %></li>

						</ul>
					</li>

					<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Profile <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%= link_to "Profile", current_user %></li>
								<li><%= link_to "Manage Profile", manageProfileContent_path %></li>
							</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Account <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to "Account Administration", editUser_path %></li>
							<li><%= link_to "Resources", resources_path %></li>

							<li class="divider"></li>
							<li>
							<%= link_to "Log out", logout_path, method: "delete" %>
							</li>
						</ul>
					</li>

				<% else %>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sweet Spot <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to "Home",   home_path %></li>
							<li class="divider"></li>
							<li><%=link_to "Resources", resources_path %></li>
							<li class="divider"></li>
							<li><%=link_to "About", about_path %></li>

						</ul>
					</li>

					<li><%= link_to "Log in", login_path %></li>
				<% end %>
			</ul>
	</div>

</header>